@model List<string>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Terrier Sub-Breeds</title>
</head>
<body>
    <h1>Terrier Sub-Breeds</h1>
    <ul>
        @foreach (var subBreed in Model)
        {
            <li>@subBreed</li>
        }
    </ul>
</body>
</html>
